# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will flagged as reviewers for every opened pull request in this repo. 
* @portal-contributors
